*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
body{
    width : 100vw;
    height: 100vh;
    font-family: "Helvetica Neue",
}
.cardText{
    text-align: center;
    color: rgb(253, 253, 253);
    margin-top: 15px;
}
.dash{
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgb(255, 255, 255);
}
.container1{
    width : 100%;
    height : 100%;
    background-image: url(images\ \(5\).jfif) ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.m_container{
    position: relative;
    width : 70%;
    height : 100%;
    margin : 0 auto;
}
.card_1{
    float: left;
    width: 200px;
    height : 110%;
    background: #82323a;
    border-radius: 2px;
    position: relative;
    z-index: 9;
}
.cardImage{
    width : 100px;
    height : 100px;
    background: #797071;
    border-radius: 50%;
    position: absolute;
    margin: 50px 50px;
    overflow: hidden;
}
img{
    width : 100px;
    height : auto;
}
.identity{
    position: absolute;
    margin :170px 50px;
    text-align: center;
    color: #fff;
}
.white{
    position: absolute;
    width: 100%;
    height: 50px;
    background:#fff;
    margin-top: 250px;
}
.white h4{
    text-align: center;
    color: red;
    margin-top: 15px;
}
.good{
    position: absolute;
    margin-top: 300px;
    margin-left: 25px;
    color: aqua;
}
.dash1{
    margin-top: 350px;
}
.dash2{
    margin-top: 400px;
}
.dash3{
    margin-top: 450px;
}
.socialIcon{
    position: absolute;
    margin-top: 500px;
    margin-left: 18px;
    display: flex;
}
.socio{
    width : 30px;
    height : 30px;
    margin: 0 2px;
    background-color: #421a1e;
    color: #fff;
    text-align: center;
    padding-top: 7px;
}
.cp{
    position: absolute;
    margin-top: 590px;
    width: 90%;
}
.cp p{
    font-size: 12px;
}
.gridContainer{
    width: 70%;
    height: 100%;
    margin-left: 330px;
    text-align: center;
    position: relative;
}
.aboutSection{
    color: #fff;
    padding: 70px 0px;
}
.aboutSection h3{
    padding: 10px;
    font-size: 30px;
}
.aboutSection p{
    line-height: 20px;
}
.mainGrid{
    display: grid;
    width: 100%;
    grid-template-rows: repeat(300, 10px);
    grid-template-columns: repeat(67, 10px);
    z-index: 9;
    color: #fff;
}
.item{
    color: #fff;
    text-align: left;
}
.item1{
    grid-row: 1/25;
    grid-column: 1/33;
    background-image: url(download\ \(1\).jfif);
    background-size: cover;
}
.item2{
    grid-row: 8/10;
    grid-column: 35/67;
}
.item3{
    grid-row: 11/15;
    grid-column: 35/67;
}
.item4{
    grid-row: 18/20;
    grid-column: 35/42;
    background-color: #ffffff;
    color: #82323a;
    text-align: center;
    font-size: 10px;
}
.item5{
    grid-row: 30;
    grid-column: 1/67;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.item6{
    grid-row: 41;
    grid-column: 1/33;
    color: #000;
    color: #fff;
}
.item7{
    grid-row: 45;
    grid-column: 1/33;
    color: #000;
    color: #fff;
}
.item8{
    grid-row: 52/54;
    grid-column: 1/8;
    background-color: #ffffff;
    color: #82323a;
    text-align: center;
    font-size: 10px;
}
.item9{
    grid-row: 35/60;
    grid-column: 35/67;
    background-image: url(gettyimages-1178823473-612x612.jpg);
    background-size: cover;
}
.item10{
    grid-row: 67;
    grid-column: 1/67;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.item12{
    grid-row: 72;
    grid-column: 24/44;
}
.item13{
    grid-row: 75;
    grid-column: 32/36;
    height: 2px;
    background-color: rgb(255, 8, 8);
}
.item14{
    grid-row: 76;
    grid-column: 1/67;
    text-align: center;
}
.item15{
    grid-row: 85/110;
    grid-column: 1/33;
    background-color: #6d9caf91;
}
.blb{
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 30px 0px 0px 20px;
}
.blb i{
    font-size: 45px;
    margin: 8px 15px;
}
.item15 h2,.item16 h2, .item17 h2, .item18 h2{
    margin: 10px 20px 10px 20px;
}
.item15 p,.item16 p, .item17 p, .item18 p{
    margin-left: 20px;
}
.item16{
    grid-row: 85/110;
    grid-column: 35/67;
    background-color: #6d9caf91;
}
.item17{
    grid-row: 112/137;
    grid-column: 1/33;
    background-color: #6d9caf91;
}
.item18{
    grid-row: 112/137;
    grid-column: 35/67;
    background-color: #6d9caf91;
}
.item11{
    grid-row: 142;
    grid-column: 1/67;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.item19{
    grid-row: 145;
    grid-column: 29/44;
}
.item20{
    grid-row: 148;
    grid-column: 32/36;
    height: 2px;
    background-color: rgb(255, 8, 8);
}
.item21{
    grid-row: 149;
    grid-column: 1/67;
    text-align: center;
}

.item27{
    grid-row: 158/183;
    grid-column: 35/67;
    background-image: url(images.jfif);
    background-size: cover;
}
.item28{
    grid-row: 158/183;
    grid-column: 1/33;
    background-image: url(Lifestyle-Families.jpg);
    background-size: cover;
}
.item29{
    grid-row: 186;
    grid-column: 1/67;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.item30{
    grid-row: 189/214;
    grid-column: 1/33;
    background-image: url(images\ \(6\).jfif);
    background-size: cover;
}
.item31{
    grid-row: 189/214;
    grid-column: 35/67;
    background-image: url(maxresdefault.jpg);
    background-size: cover;
}
.item32{
    grid-row: 216;
    grid-column: 1/67;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.item33{
    grid-row: 218/243;
    grid-column: 1/33;
    background-image: url(images\ \(8\).jfif);
    background-size: cover;
}
.item34{
    grid-row: 218/243;
    grid-column: 35/67;
    background-image: url(blur-effects_effect-diagram_06b840b05549353729d5531c27f614ce36.jpg);
    background-size: cover;
}
.item35{
    grid-row: 245;
    grid-column: 1/67;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.item36{
    grid-row: 252;
    grid-column: 1/67;
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.item37{
    grid-row: 254;
    grid-column: 29/44;
}
.item38{
    grid-row: 257;
    grid-column: 32/36;
    height: 2px;
    background-color: rgb(255, 8, 8);
}
.item39{
    grid-row: 259;
    grid-column: 1/67;
    text-align: center;
}
.item40{
    grid-row: 265;
    grid-column: 1/33;
    text-align: center;
}
.item41{
    grid-row: 265;
    grid-column: 35/67;
    text-align: center;
}
.item40 input{
    background-color: #3d454a;
    padding: 10px;
    width: 320px;
    outline: none;
    border: none;
}
.item41 input{
    background-color: #3d454a;
    padding: 10px;
    width: 320px;
    outline: none;
    border : none;
}
.item42 input{
    background-color: #3d454a;
    padding: 10px;
    width: 660px;
    outline: none;
    border : none;
}
.item43 textarea{
    background-color: #3d454a;
    padding: 10px;
    width: 660px;
    outline: none;
    border : none;
}
.item42{
    grid-row: 270;
    grid-column: 1/67;
    text-align: center;
}
.item43{
    grid-row: 275;
    grid-column: 1/67;
    text-align: center;
}
.item44{
    grid-row: 294/297;
    grid-column: 28/42;
    text-align: center;
}
.item44 button{
   padding: 10px;
   color: red;
}
.container2{
    background-image: url(images\ \(2\).jfif);
    width : 100%;
    height : 125%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}
.container3{
    background-image: url(download.jfif);
    width : 100%;
    height : 110%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}
.container4{
    background-image: url(blurred-background-design_1107-224.jpg);
    width : 100%;
    height : 110%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}
.container5{
    background-image: url(images\ \(2\).jfif);
    width : 100%;
    height : 95%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}